body {
    margin: 0;
    padding: 0;
    background-color: #01003f;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #d3d3d3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
}
